{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}

<div class="card detail-card">
  <div class="card-header">
    <h1>
      {{ post.title }}
    </h1>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ post.body }}</p>
      <footer class="blockquote-footer">
        <cite title="Source Title">{{ post.author | capfirst }} | {{ post.created_at }}</cite>
      </footer>
    </blockquote>
  </div>
</div>

{% if user.is_authenticated %}
<div class="detail-btn">
  <a type="submit" class="btn btn-secondary" value="Edit" href="{% url 'post_edit' post.id %}">Edit</a>
  <a type="submit" class="btn btn-danger" value="Delete" href="{% url 'post_delete' post.id %}">Delete</a>
</div>
{% endif %}
{% endblock content %}